
body {
	margin: 0;
	padding: 0;
}

.hide {
	display:none;
}

section {
	padding-bottom: 30px;
}

h2, h1 {
	font-size: 75px;
	color: black;
	font-family: 'Diplomata', cursive;
	text-align: center;
	padding-top: 75px;
	margin-top: 0;
	margin-bottom: 20px;
}

h3, h4, h5, h6 p {
	font-family: 'Roboto Slab', serif;
}

h3 {
	text-align: center;
	margin: 20px auto;
} 

p {
	text-align: center;
}

.page-top p {
	color: white;
}

.subtitle {
	margin-top: 0;
	font-size: 24px;
}

.center {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.centerplus {
	width: 100%;
}

header {
	background-color: transparent;
	position: fixed;
	width: 100%;
  	top: 0;
 	display: flex;
}

ul {
	width: 100%;
}

.meniu {
	list-style-type: none;
	margin: 15px 0;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.meniu a {
	text-decoration: none;
	font-size: 30px;
	color: black;
	padding: 10px;	
}
.meniu img {
width: 30%;
margin-top: -15px;
}

.inicials {
	text-align: center;
}

.dropdown-menu {
	display: none;
	position: absolute;
	min-width: 300px;
	padding: 0;
}

.dropdown-menu li {
	padding-left: 0;
}

.dropdown-menu a {
	font-size: 18px;
	font-weight: bold;
}

.has-dropdown {
	position: relative;
}

.has-dropdown:hover .dropdown-menu {
	display: block;
}

.hero {
	background-color: rgb(121, 185, 185);
}

.line {
	text-align: center;
	color: black;
	width: 100%;
}

.line img {
	width: 15%;
}

#old {
	width: 50%;
	margin-top: 15px;
	position: relative;
}

.below-retro {
	position: absolute;
	top: 208px;
	left:43%;
}

.hero p {
	color: white;
	font-size: 31px;
	text-align: center;

}

.photo {
	text-align: center;
}

.slider-box {
	width: 100%;
	background-color: white;
}

.slider {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	margin-top: 5%;
}

.slider img {
	width: 95%;
	padding-top: 10px;
	border-radius: 10px;
	text-align: center;
	margin-left: 2.5%;
}

.slick-prev {
	left: 20px;
	z-index: 9;
	width: 50px;
	height:50px;
}

.slick-next {
	z-index: 9;
	right: 20px;
	width: 50px;
	height:50px;
}

.slick-arrow:before{
	font-size: 50px;
	line-height: 50px;
}

.slider h3 {
	padding-bottom: 20px;
}

.second-page {
	background-color: rgb(228, 223, 207);
}

.me {
	display: flex;
	flex-wrap: wrap;
	direction: row;
	justify-content:space-between; 
}

.col {
	text-align: center;
	width: 20%;
}

.col img {
	width: 100%;
}

.third-page {
	background-color: rgb(227, 139, 105);
}

.filter {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.filter p {
	padding: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.filter button {
	border-radius: 10px;
}

.project {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project-box {
	text-align: center;
	width: 24%;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
}

.project-box img {
	width: 14%;
	margin-bottom: -8%;
}

.gray-box img {
	background-color: rgb(227, 223,215);
	height: 220px;
	border:8px solid white;
	border-radius: 5px;
	width: 100%;
	height: 75%;
}

.gray-box h5 {
	margin: 0 auto;
}

.project-box a {
	text-decoration: none;
	color: black;
}

.blog {
	background-color: rgb(221, 218, 216);
}

.blog-box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.blog-box img {
	border: 5px solid white;
	border-radius: 5px;
	width: 30%;
	max-height: 250px;
}

.content {
	display: flex;
	flex-direction: column;
	
}

.date-response {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	width: 100%;
}

.post {
	text-align: left;
}

.page-top-blog p {
	color: black;
}

h6 {
	font-size: 27px;
	text-align: left;
	margin: 0 10px 20px;
}

.post-text {
	margin-left: 10px;
	width: 60%;
}

.post a {
	text-decoration: none;
	font-size: 0.6em;
	color: black;
	font-weight: bold;
}

.date-admin:after {
	content: "";
	width: 40px;					
	height: 2px;
	background-color: black;
	margin-top: 17px;
	margin-left: 0;
	display: block;
}

.browse-all a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.browse-all {
	text-align: center;
}

.browse-all a:before {
	content: "";
	width: 60px;					
	height: 2px;
	background-color: black;
	margin-top: 17px;
	margin: 10px auto;
	display: block;
}


.fourth-page{
	background-color: rgb(80, 84, 90);
}

.fourth-page h2 {
	color: white;
}

.input-row {
	display: flex;
	justify-content: center;
	margin: 0 auto 30px;
}

.input-row input:first-child {
	margin-right: 25px;
	width: 45%;
}
.input-row input:last-child {
	margin-left: 25px;
	width: 45%;
}

.email-form {
	max-width: 600px;
	margin: 0 auto;
}

textarea {
	width: 100%;
	margin-bottom: 25px;
}

.text-area {
	text-align: center;
}

.below-form {
	text-align: center;
	color: white;
	font-size: 31px;
}

.below-form h3 {
	margin-top: 0;
}

.social ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding-left: 0;
}

.social li {
	padding: 5px;
	font-size: 70px;
}

.social a {
	color: white;
}

.data p {
	color: white;
	margin-bottom: 0;
	padding-bottom: 10px;
}


@media all and (max-width: 768px) {
    .col{
        width:50%;
    }
    h2, h1 {
    	font-size: 0.7em;
    }
	.meniu a {
		font-size: 20px;
	}
	.subtitle {
		font-size: 18px
	}
	.social li {
		font-size: 3em;
	}
	.below-form h3 {
		font-size: 2em;
	}
	.project-box {
		width: 50%;
	}
}

@media all and (max-width: 576px) {
    .col {
        width:100%;
    }

    h2, h1 {
    	font-size: 1.5em;
    }
    .meniu a {
		font-size: 15px;
	} 
	.subtitle {
		font-size: 16px
	}  
    .social li {
	font-size: 1.8em;
	}
	.below-form h3 {
		font-size: 0.5em;
	}
	.project-box {
		width: 100%;
	}
	.data p {
		font-size: 0.8em;
	}
	.blog-box img {
		width: 100%;
	}

	.post-text {
		width: 100%;
	}

	#old {
		width: 100%;
	}
	.below-retro {
		position: absolute;
		top: 135px;
		left:25%;
	}
	.date-response {
		font-size: 8px;
	}

	h6 {
		margin-top:10px; 
	}
}